{% extends "index.html" %}
{% block title %}Post detail{% endblock %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        <article id="" class="post w-100">
            <div class="detail-wrap">
                <header class="entry-header">
                    <h1 class="entry-title">
                        {{ data.title }}
                    </h1>
                    <div class="author-date">
                        <span class="author">{{ data.author }}</span>
                        <span class="separator">/</span>
                        <span class="posted-on">{{ data.now_date }}</span>
                    </div>
                </header>
                <div class="entry-content">
                    <p>{{ data.text }}</p>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}